In [1]:
import pandas as pd

In [2]:
belgium = pd.read_csv('data/belgium_addresses.csv')

/home/theo/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,8,9,10,12,13,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Most common streetname NL

In [71]:
streets = belgium[['streetname_nl', 'postcode']].drop_duplicates()

In [72]:
streets.groupby('streetname_nl').count().sort_values(by='postcode', ascending=False).head(10)

                postcode
streetname_nl
Kerkstraat           246
Molenstraat          244
Nieuwstraat          208
Schoolstraat         192
Veldstraat           184
Stationsstraat       175
Groenstraat          161
Bosstraat            146
Kloosterstraat       143
Kasteelstraat        133

## Uncommon streetnames NL

In [47]:
temp = streets.groupby('streetname_nl').count().reset_index()
temp[temp['streetname_nl'] == 'Steentjes']

      streetname_nl  postcode
41438     Steentjes         1

In [48]:
temp.sample(100)['streetname_nl'].to_csv('uncommon.csv', index=False)

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

## Most common streetname FR

In [22]:
streets = belgium[['streetname_fr', 'postcode']].drop_duplicates()

In [24]:
streets.groupby('streetname_fr').count().sort_values(by='postcode', ascending=False).head(10)

                    postcode
streetname_fr
Rue de l'Eglise          188
Rue du Moulin            165
Rue de la Station        134
Rue des Ecoles           130
Rue de la Chapelle       115
Rue de la Fontaine       107
Rue du Centre            106
Rue de la Gare           101
Rue Haute                 98
Rue du Château            98

## Uncommon streetnames FR

In [25]:
temp = streets.groupby('streetname_fr').count().reset_index()

Empty DataFrame
Columns: [streetname_fr, postcode]
Index: []

In [26]:
temp.sample(100)['streetname_fr'].to_csv('uncommon_fr.csv', index=False)

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

## Longest street NL

In [51]:
long = list(map(lambda street: (len(street), street), belgium['streetname_nl'].dropna().unique()))
long.sort(reverse=True)
long[:10]

[(42, 'Albert en Marie-Louise Servais-Kinetstraat'),
 (38, 'Lodewijk Engelbertus van Arenbergplein'),
 (37, 'Volksvertegenwoordiger De Jaegerelaan'),
 (36, 'Jean de Brouchoven de Bergeyckstraat'),
 (36, 'Burgemeester Dr. Eugeen Roggemanlaan'),
 (35, "Charles d'Orjo de Marchovelettelaan"),
 (35, 'Burgemeester Stanislas De Rijcklaan'),
 (35, 'Alphonse en Maurice Hellinckxstraat'),
 (34, 'Zusters van Onze-Lieve-Vrouwstraat'),
 (34, 'Volksvertegenwoordiger Tahonstraat')]

## Longest street FR

In [52]:
long = list(map(lambda street: (len(street), street), belgium['streetname_fr'].dropna().unique()))
long.sort(reverse=True)
long[:10]

[(57, 'Place des Combattants (Place Communale avant fusion 1978)'),
 (51, 'Rue des Rocailles (rue es Mulets avant fusion 1978)'),
 (49, 'Chemin du Circuit - Parc Résidentiel Saint-Joseph'),
 (47, 'Rue des Combattants - Résidence Les Coquelicots'),
 (46, 'Rue des Combattants - Résidence Les Primevères'),
 (46, 'Rue des Combattants - Résidence Les Jonquilles'),
 (46, "Rue de la 7ème Division d'Infanterie Française"),
 (45, "Rue de l'Institut Notre-Dame de la Compassion"),
 (45, 'Cité Hyacinthe Harmegnies - Rue des Peupliers'),
 (44, "Rue du 127ème Régiment d'Infanterie Français")]

## Most houses on street NL

In [53]:
streets = belgium[['streetname_nl', 'postcode', 'house_number']].drop_duplicates()

In [57]:
streets.groupby(['streetname_nl', 'postcode']).count().sort_values(by='house_number', ascending=False).head(10)

                               house_number
streetname_nl        postcode
Bredabaan            2930              1046
Kortrijksesteenweg   9000              1013
Koningin Fabiolapark 9100              1000
Hundelgemsesteenweg  9820               997
Kikvorsstraat        9000               956
Zwijnaardsesteenweg  9000               936
Poseidonlaan         8420               920
Bergense Steenweg    1070               897
Alsembergsesteenweg  1180               884
Antwerpsesteenweg    9040               877

## Most houses on street FR

In [58]:
streets = belgium[['streetname_fr', 'postcode', 'house_number']].drop_duplicates()
streets.groupby(['streetname_fr', 'postcode']).count().sort_values(by='house_number', ascending=False).head(10)

                                      house_number
streetname_fr               postcode
Chaussée de Mons            1070               897
Chaussée d'Alsemberg        1180               884
Chaussée de Wavre           1160               759
Chaussée de Waterloo        1180               673
Rue de Visé                 4020               659
Avenue du Champ de Bataille 7012               637
Avenue Eugène Mascaux       6001               578
Chaussée de Bruxelles       1410               561
Rue Grégoire Wincqz         7060               559
Chaussée de Haecht          1030               553

## Hoogste nummer

In [62]:
def isint(string):
    try:
        int(string)
        return True
    except:
        return False

In [67]:
clean = belgium[belgium['house_number'].apply(isint)]
clean['house_number'] = clean['house_number'].astype(int)

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [68]:
clean[clean['house_number'] == max(clean['house_number'])]

,EPSG:31370_x,EPSG:31370_y,EPSG:4326_x,EPSG:4326_y,address_id,box_number,house_number,municipality_id,municipality_name_de,municipality_name_fr,municipality_name_nl,postcode,postname_fr,postname_nl,street_id,streetname_de,streetname_fr,streetname_nl
2751080,168374.04,193980.31,51.055683,4.63082,3660276,NaN,4691001,12029,NaN,NaN,Putte,2580,NaN,Beerzel/Putte,11534,NaN,NaN,Mechelbaan